<div class="container mt-4">
    <div class="row shadow p-2 rounded">
        <div class="col-md-6">
            <a routerLink="/" class="btn btn-light m-2">
                Regresar al home
            </a>
        </div>
        <div class="col-md-6">
            <button routerLink="/ejercicios/ejercicio2" class="btn btn-primary m-2 f-right">Ejercicio 2</button>
            <button routerLink="/ejercicios/ejercicio1" class="btn btn-primary m-2 f-right">Ejercicio 1</button>
        </div>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>