<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" routerLink="/tiendas">TiendasAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/inicio/registro">Registro</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-primary" routerLink="/">Regresar</a>
            </li>
        </ul>
    </div>
</nav>
<div class="w-100">
    <router-outlet></router-outlet>
</div>