<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container bg-dark rounded p-5 shadow-sm">
        <div class="row my-5">
            <div class="col-md-12">
                <h1 class="text-center text-light display-1">Servicios</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 text-center">
                <a routerLink="/ejercicios" class="btn btn-primary">Ejercicios Matematicos</a>
            </div>
            <div class="col-md-6 text-center">
                <a routerLink="/tiendas/tiendas" class="btn btn-primary">Aplicacion de tienda</a>
            </div>
        </div>
    </div>
</div>